*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-text: #333333;
  --color-text-light: #999999;
  --background-white: #fff;
  --font-lora: 'Lora', serif;
  --font-merriweather: 'Merriweather', serif;
}

html {
  font-size: 62.5%;
  font-family: 'Lora', serif;
}

a {
  text-decoration: none;
}
/* 
  font-family: 'Merriweather', serif;
*/

/* -- Header -- */
header {
  width: 100%;
  height: 70px;
  position: relative;
  /* margin-bottom: 260px; */ /* valor a cambiar con el nav */
  background-color: var(--background-white);
}

.header__logo {
  float: left;
  padding: 20px 5px 20px 15px;
}

.header__logo .header__img {
  width: 160px;
  height: 30px;
}

.header__user-container .header__icon {
  width: 20px;
  height: 20px;
}

header .header__user-container {
  float: right;
  padding: 22px 15px 22px 5px;
}

.header__user-container a {
  display: inline-block;
  margin-left: 1.6em;
}

/* --nav-- */

header .header__nav {
  float: right;
  display: none;
  width: 100%;
  height: auto;
}
.header__nav li {
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
}

.header__nav .header__link {
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: .1em;
  display: block;
  color: var(--color-text);
  padding: 15px 20px;
}

.header__nav.header__nav--active {
/*   display: block; */
}

main {
  min-width: 320px;
}

/* --slider-- */
.main-slider {
  width: 100%;
  max-height: 520px;
  margin-bottom: 15px;
}

/* contendor banner */
.main-slider .main-slider-container {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  width: 100%;
  min-height: 107px;
}

/* item */
.main-slider-container .main-slider-container__item {
  scroll-snap-align: center;
  width: 100%;
  min-width: 320px;
}

.main-slider-container__item a {
  display: block;
}

.slider__img {
  width: 100%;
  display: block;
}
.main-slider__buttons {
  margin-top: 10px;
  text-align: center;
}

/* --tag-section-- */
.main-tags {
  margin-bottom: 1.5em;
}

.main-tags ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  font-weight: bolder;
  justify-content: center;
  /* flex-direction: column; */
/*   font-family: 'Merriweather', serif; */
}
.main-tags ul li {
  margin: 0 10px 5px 10px;
}

.main-tags .main-tags__item {
  color: var(--color-text);
  display: inline-block;
  font-size: 1.4rem;
}

/* --font-section-- */

.fonts h2 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Merriweather', serif;
  margin-bottom: 1.5em;
}

/* font container */
.fonts .fonts__container {
  min-width: 280px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
 /*  justify-content: space-evenly; */
}

/* font-item */

.fonts .fonts__container .font__item {
  min-width: 128px;
  min-height: 209px;
  width: 45%;
  max-width: 272px;
  /* breakpoint 750px */
  text-align: center;
}

.fonts .fonts__container .font__item:nth-child(1) {
/*   background-color: red; */
  margin-right: 7vw;
}

.font__item .font__item-link img {
  width: 100%;
  min-width: 128px;
  display: block;
  margin-bottom: 1em;
}

.font__item .font__item-link .font__price {
  color: var(--color-text);
  font-size: 1rem;
  letter-spacing: .2em;
}
.font__item .font__item-link .font__price span {
  color: var(--color-text-light);
  display: block;
  margin-top: .5em;
}

/* twenty bits book */
.main-book {
  min-width: 285px;
  width: 90%;
  margin: 0 auto 5em;
}

.main-book .main-book__img-container {
  max-width: 600px;
  margin: 0 auto;
}

.main-book .main-book__img-container img {
  width: 100%;
  display: block;
}

.main-book .main-book__info {
  color: var(--color-text);
}
.main-book .main-book__info h2 {
  font-size: 2.6rem;
  margin-bottom: .5em;

}
.main-book .main-book__info p {
  font-family: var(--font-merriweather);
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2.2rem;
  margin-bottom: 1em;
}

/* botton learn more */

.main-book .main-book__info .main-book__button,
.shop-section .shop-container__button,
.subs-section .subs-section__form .subs-section__button {
  display: inline-block;
  background-color: var(--color-text);
  color: var(--background-white);
  border-radius: 2px;
  font-size: 1.4rem;
  font-weight: 600;
  padding: .3em .5em;
  letter-spacing: .1em;
  font-family: var(--font-lora);
}

/* --shop-section-- */

.shop h2 {
  color: var(--color-text);
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2em;
}

.shop-section {
  /* seguro que para algo sirve */
  text-align: center;
  margin-bottom: 5em;
}

.shop-section .shop-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-width: 300px;
  width: 90%;
  margin: 0 auto 1em;
}
/* items */
.shop-section .shop-container .shop-container__item {
  min-width: 128px;
  min-height: 209px;
  width: 45%;
  max-width: 310px;
  /* breakpoint 750px */
  text-align: center;
}
  
.shop-container__item img {
  width: 100%;
  min-width: 128px;
  display: block;
  margin-bottom: 1em;
}

.shop-container__item .shop-container__info h3 {
  color: var(--color-text);
  font-size: 1rem;
  letter-spacing: .2em;
}
.shop-container__item .shop-container__info span {
  color: var(--color-text-light);
  display: block;
  margin-top: .5em;
}

/* insta-feed */

.insta-feed__container {
  display: flex;
  max-width: 750px;
  margin: 0 auto;
}

.insta-feed__container .insta-feed__link {
  width: calc(100vw / 6);
  height: calc(100vw / 6);
  overflow: hidden;
}

.insta-feed__container .insta-feed__link img {
  width: 100%;
  display: block;
}

/* --subscribe-section-- */

.subs-section {
  background-color: #f5f4f2;
  padding-bottom: 4em;
}
.subs-section p {
  padding-top: 2.5em;
  padding-bottom: 2em;
  font-size: 2.25rem;
  text-align: center;
}

/* form */
.subs-section .subs-section__form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.subs-section .subs-section__form input {
  /* display: inline-block; */
  padding: .7em 1.2em;
  width: 40%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  max-width: 240px;
  margin-right: .5em;
}

.subs-section .subs-section__form .subs-section__button {
  width: 40%;
  min-width: 100px;
  max-width: 150px;
}

/* footer */

footer {
  text-align: center;
  padding-top: 3em;
}

footer .footer-nav,
.footer-nav .footer__link-container {
  margin-bottom: 4em;
}


/* follow us---- */

.footer-nav .footer__link-container .footer__follow-us-container {
  display: flex;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
}

.footer-nav .footer__link-container .footer__follow-us-container li {
  display: inline-block;
  width: 22px;
  height: 22px;
}
.footer__link-container .follow-us-logo {
  width: 100%;
}
/* ----------- */

.footer-shop {
  margin-bottom: 4em;
}

.footer-nav .footer__link-container h4,
.footer-shop h4 {
  color: var(--color-text);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: .1em;
  font-family: var(--font-merriweather);
  margin-bottom: .5em;
}
.footer__link-container ul li,
.footer-shop ul li {
  padding-bottom: .5em;
}

.footer-nav .footer__link-container .footer__link-item,
.footer-shop .footer__link-item {
  color: var(--color-text);
  font-size: 1.6rem;
}

/* footer logo container */
footer .footer-logo-container {
  width: 90%;
  margin: 0 auto;
  max-width: 300px; /* valor por cambiar */
}

footer .footer-logo-container a {
  margin: 0 auto 1.4em;
  width: 180px;
  height: 35px;
  display: block;
}
footer .footer-logo-container a img {
  width: 100%;
  display: block;
}

footer .footer-logo-container p {
  font-size: 1.8rem;
  font-family: var(--font-lora);
  color: var(--color-text);
  margin-bottom: 1.3em;
}
footer .footer-logo-container .footer__button {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: var(--background-white);
  border: 1px solid #bbb;
  color: var(--color-text);
  line-height: 3rem;
  border-radius: 2px;
}

.footer-miselanius__info {
  width: 90%;
  margin: 3em auto 0;
  font-size: 1.6rem;
  color: var(--color-text);
}

.footer-miselanius__logo {
  width: 120px;
  height: 50px;
  display: block;
  margin: 2em auto 2em;
}

.footer-miselanius__logo img {
  width: 100%;
  display: block;
}